{% extends 'base.html' %}

{% block contect %}
<h1>Flanes Publicos </h1>
<div class="row">
    {% for flan in flanes %}
    <div class="col">
        <div class="card" id="myCard" style="width: 18rem;" data-bs-toggle="modal"
            data-bs-target="#flanModal{{flan.id}}">
            <img src="{{ flan.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ flan.name }}</h5>
                <p class="card-text">{{ flan.description }}</p>
            </div>
        </div>


        <div class="modal fade" data-bs-backdrop="static" id="flanModal{{flan.id}}" data-bs-keyboard="true" tabindex="-1" aria-labelledby="flanModallabel{{flan.id}}" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog modal-dialog-centered">

                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="flanModallabel{{flan.id}}">{{flan.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <img src="{{ flan.image_url }}" alt="" class="img-fluid">
                        <p class="mt-4 fs-5">{{ flan.description }}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Understood</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}