{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark my-4">
    <a class="navbar-brand" href="{% url 'index' %}">OnlyFlans</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-primary" href="{% url 'welcome' %}">Bienvenido</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">Acerca</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
            </li>          
        </ul>
        {% if user.is_authenticated %}
        <div>
            <span class="nav-link text-primary ms-5">Bienvenido, {{ user.get_username }}</span>
        </div>
        <form id="logout-form" action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-danger btn-sm my-2 my-sm-0" type="submit">Cerrar Sesion</button>
        </form>
        {% endif %}

        {% if not user.is_authenticated %}
        <div>
            <a href="{% url 'login' %}" class="btn btn-primary mx-1 btn-sm">Ingresar</a>
        </div>
        <div>
            <a href="#" class="btn btn-info ms-2 btn-sm">Registrar</a>
        </div>
        
        {% endif %}
    </div>
</nav>